<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/head") %>
    <title>Sign in</title>
</head>
<body>
    <%- include("./components/nav") %>

    <a href="/signup">signup</a>
    <%- include("./components/script") %>
</body>
</html>