<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/head") %>
    <title>Sign up</title>
</head>
<body>
    <%- include("./components/nav") %>
    <h1>Sign up</h1>

    <form action="">
        <input type="text" name="name">
        <input type="text" email="email">
        <input type="text" password="">
        <input type="text" >
        <input type="text">
    </form>
    <%- include("./components/script") %>
</body>
</html>